
*.pyc
.venv/
app/dist
app/build
app/__pycache__
build
dist/
codes/
version_eliminada_20250523_124248.zip
version_eliminada_20250523_124550.zip
trabajos_database.xlsx
backups_eliminados/
build/main/
**/dist/

